@import url(estilo_img.css);
@import url(login.css);
@import url(footer.css);
section{
    width: 100%;
    margin-bottom: 25px;
}

header .contenedor{
    width: 100%;
    margin: auto;
    background: #1c4e88;
    opacity: 80%;
    color: lightgoldenrodyellow;
}

.contenedor .interior{
    margin-top: -1px;
}