.sector-formulario{
    margin: auto;
    font-family: sans-serif;
    background: #1c4e88;
    margin-top: 5%;
    margin-block-end: 1%;
    padding-block-end: 15px;
    padding-left: 7px;
    padding-right: 7px;
    max-width: 550px;
    border-radius: 10px;
    opacity: 90%;
}

.formulario{
    width: 95%;
    margin: auto;
    background: white;
    border-radius: 8px;
    max-width: 530px;
    opacity: 100%;

}

.formulario_titulo{
    background: #79787c;
    color: #fff;
    padding: 8px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid #79787c;
    opacity: 90%;
}

.contenedor-inputs{
    padding: 20px 15px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom-style: 5px solid #79787c;
}

.btn-enviar{
    background: #79787c;
    width: 43%;
    margin-left: 5px;
    color: #fff;
    margin: auto;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 50px;
    text-align: center;
    opacity: 80%;
}

.contenedor-inputs h6{
    font-size: 20px;
    float: center;
    margin-left: 15px;;
    margin-top: 25px;
}

.formulario input{
    width: 95%;
    margin-bottom: 15px;
    margin: 10px;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #79787c;
}

