{% extends 'blog/base.html' %}

{% load static %}
{% block title %}Login{% endblock %}
{% block contenido %}

<section id="blog">
    <div class="sector-formulario">
        <br>
        <form action="" method="POST" class="formulario">
            {% csrf_token %}
            <h4 class="formulario_titulo">Autenticación</h4>
            <div class="contenedor-inputs">
                {{ form }}

                <input type="submit" value="Ingresar" class="btn-enviar" href="#">
                
                <br>

            </div>
        </form>
    </div>

</section>

{% endblock %}

