<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1><a href="#">Animales</a></h1>
    </div>
    <div class="Formulario"> 
        <p>Login de Usuario</p> 
        <form action="" method="POST">
            <div>
                <div>
                    <p>Usuario</p> 
                    <input type="text">
                </div>
                <div>
                    <p>Contraseña</p> 
                    <input type="password">
                </div>
            </div>
        </form>
    </div>
    
</body>
<footer>
    <div></div>
</footer>
</html>



