{% extends 'blog/base.html' %}

{% load static %}

{% block contenido %}

<section id="blog">
    <div class="sector-formulario">
        <br>
        <form action="" method="POST" class="formulario">
            {% csrf_token %}
            <h4 class="formulario_titulo">Cuenta</h4>
            <div class="contenedor-inputs">
                <h6>Nombre de usuario</h6>
                <input type="text" name="usuario" placeholder="Nombre de usuario" class="input-100" required>
                <h6>Contraseña</h6>
                <input type="password" name='contrasena' placeholder="contraseña" class="input-100">
                
                <input type="submit" value="Ingresar" class="btn-enviar" href="#">
                
                <br>

            </div>
        </form>
    </div>

</section>

{% endblock %}